//

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* ****** HEADER ****** */



.container {
    display: flex;
    justify-content: center;
    padding: 15px 0px 13px 0px;
    position:fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;


.menu-navbar {
    display:flex;
    justify-content: space-between;

    align-items: center;
    width: 70%;
    .container-logo img {
      width: 80px;

    }
    ul {
      display:flex;
      list-style-type: none;
      flex-wrap: wrap;
      li {
        font-size: 0.7rem;
        font-weight:600;
        text-transform: uppercase;
        margin: 0 15px;

        a {
          text-decoration:none;
          color: darkgray;
          padding-bottom: 43px;
          &:hover {
            color: #0082f9;
            border-bottom: 5px solid #0082f9;
          }
        }
      }
    }

    .search {
        display: flex;


        }
        .search-bar{
            border: none;
            text-align: right;
            font-weight: 600;
            margin-right: 2px;
            color: darkgray;
            font-family: 'FontAwesome', 'Montserrat', sans-serif ;
            font-size: 0.6rem;
            &::placeholder {
                color:darkgray ;
            }

            &:focus-visible {
                outline:none ;
                border-bottom: 2px solid #047ff7 ;

            }
        }

        button {
            border: none;
            background-color: transparent;
            i {
                color: darkgray;
            }
        }
  }

}





.jumbotron {
    background-image:url("/images/jumbotron.jpg") ;
    height: 350px;
    background-size: cover;
    margin-top: 90px;

}


/* ****** MAIN ****** */

.container-comics {
    background-color: #1C1C1C;
    position: relative;
    .content-dc-comics {
        width: 70%;
        margin: auto;
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .comics-card {
            width: calc(100% / 6 - 15px * 5 / 6);
            cursor: pointer;

            .img-box{
                width: 130px;
                height: 130px;
                overflow: hidden;
            }

            img {
                width: 100%;
            }

            p {
                color: #fff;
                font-size: 0.6rem;
                font-weight: 600;
                padding: 10px 0;
            }
        }
    }

    .label-series {
        background-color: #0082f9;
        padding: 8px 18px;
        color: #fff;
        font-weight: 600;
        font-size: 0.8rem;
        position: absolute;
        top: -15px;
        left: 205px;
        cursor: pointer;
    }

    .container-btn {
        display: flex;
        justify-content: center;

        button {
            color:#fff;
            font-weight: 600;
            background-color: #0082f9;
            border: none;
            padding: 10px 40px;
            margin: 20px 0;
            cursor: pointer;
        }
    }

}

.container-single-card {
    height: 100%;
    padding-bottom: 68.5px;
}

.line-card,
.detail-card {
    width: 70%;
    margin: 0 auto;
}

.detail-card {
    padding: 50px 0px;


    .title-comic{
        text-transform: uppercase;
    }

    .status-general {
        display: flex;
        align-items: flex-end;
    }

    .price-availability {
        display: flex;
        width: 50%;
        justify-content: space-between;
        background-color:#55BA59 ;
        border-bottom: 1px solid black ;
        border-right: 1px solid black ;
        padding: 10px 20px;
        margin-top: 20px;
        color: rgba(255, 255, 255,0.7);
        font-weight: 600;
        font-size: 1.1rem;
        .price {
            color: #fff;
        }
    }

    .label-check {
        background-color:#55BA59 ;
        color: #fff;
        font-weight: 600;
        font-size: 1.1rem;
        border-bottom: 1px solid black ;
        padding: 10px 20px;


    }

    .description {
        font-weight: 600;
        line-height: 25px;
        width: 72%;
        margin-top: 20px;
        color: rgb(110, 110, 110);
    }
}


.card {
    position: absolute;
    width: 200px;
    top: 200px;
    // left: 300px;
    z-index: 889;
    border: 1px solid #fff;
}

.bar-blue {
    background-color: #0082f9;
    height: 80px;
    position: relative;
}

/* ****** FOOTER ****** */

.top-footer {
    background-color:#0082f9 ;
    display: flex;
    justify-content: center;

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 30px 0px;
        width: 70%;
        li {
          font-size: 0.6rem;
          font-weight: 600;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: #fff;
            margin-left: 8px;
          }
        }
        img {
          height: 35px;
        }
        .icon-power {
          height: 25px;
        }

    }
}

.main-footer {
    background-image: url("/images/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    .link-list {
      background-image: url("/images/dc-logo-bg.png");
      background-repeat: no-repeat;
      background-size: 380px;
      background-position: right;
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      color: #fff;
      h3 {
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-bottom: 5px;
      }
      .link-image {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
        li {
          line-height: 12px;
        }
        a {
          color: lightgray;
          text-decoration:none;
          font-size: 0.6rem;
          font-weight:600;
          &:hover {
            color: #0082f9;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .bottom-footer {
    background-color: #303030;
    display: flex;
    justify-content: center;
    .connect {
      display: flex;
      justify-content: space-between;
      width: 70%;
      padding: 20px 0px;
      .btn {
        background-color: #303030;
        border: 2px solid #0082f9;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.6rem;
        padding: 8px 10px;
        cursor: pointer;

      }
      .icons {
        display:flex;
        align-items: center;
        padding: 5px;
        h3 {
          color: #0082f9;
          text-transform:uppercase;
          font-size: 0.9rem;
          margin-right: 8px;
        }
        img {
          width: 25px;
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }
  }
