* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ****** HEADER ****** */

.top-bar {
  display: flex;
  font-size: 0.6rem;
  padding: 7px;
  padding-right: 25px;
  justify-content: flex-end;
  background-color: #0082f9;
  color: #fff;
}

.top-bar h3 {
  margin-right: 80px;
  font-weight: 600;
}

.menu-navbar {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 13px 0px;
}

.menu-navbar .container-logo img {
  width: 75px;
}

.menu-navbar .container-nav-list ul {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  list-style-type: none;
  margin: 0 20px;
}

.menu-navbar .container-nav-list ul li a {
  font-size: 0.7rem;
  margin: 0px 20px;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 40px;
  color: grey;
  cursor: pointer;
}

.menu-navbar .container-nav-list ul li a:hover {
  color: #047ff7;
  border-bottom: 4px solid #047ff7;
}

.menu-navbar .search {
  display: flex;
}

.menu-navbar .search-bar {
  border: none;
  text-align: right;
  font-weight: 600;
  margin-right: 2px;
}

.menu-navbar .search-bar:focus-visible {
  outline: none;
  border-bottom: 2px solid #047ff7;
}

.menu-navbar button {
  border: none;
  background-color: transparent;
}

.menu-navbar button i {
  color: gray;
}

.jumbotron {
  background-image: url("/images/jumbotron.jpg");
  height: 300px;
  background-size: cover;
}

/* ****** MAIN ****** */

.container-comics {
  background-color: #1C1C1C;
  position: relative;
}

.container-comics .content-dc-comics {
  width: 70%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container-comics .content-dc-comics .comics-card {
  width: calc(16.6666666667% - 12.5px);
  cursor: pointer;
}

.container-comics .content-dc-comics .comics-card .img-box {
  width: 130px;
  height: 130px;
  overflow: hidden;
}

.container-comics .content-dc-comics .comics-card img {
  width: 100%;
}

.container-comics .content-dc-comics .comics-card p {
  color: #fff;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 10px 0;
}

.container-comics .label-series {
  background-color: #0082f9;
  padding: 8px 18px;
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  position: absolute;
  top: -15px;
  left: 168px;
  cursor: pointer;
}

.container-comics .container-btn {
  display: flex;
  justify-content: center;
}

.container-comics .container-btn button {
  color: #fff;
  font-weight: 600;
  background-color: #0082f9;
  border: none;
  padding: 10px 40px;
  margin: 20px 0;
  cursor: pointer;
}

/* ****** FOOTER ****** */

.top-footer {
  background-color: #0082f9;
  display: flex;
  justify-content: center;
}

.top-footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  width: 80%;
}

.top-footer ul li {
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.top-footer ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 8px;
}

.top-footer ul img {
  height: 35px;
}

.top-footer ul .icon-power {
  height: 25px;
}

