* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ****** HEADER ****** */

.container {
  display: flex;
  justify-content: center;
  padding: 15px 0px 13px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.container .menu-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.container .menu-navbar .container-logo img {
  width: 80px;
}

.container .menu-navbar ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.container .menu-navbar ul li {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 15px;
}

.container .menu-navbar ul li a {
  text-decoration: none;
  color: darkgray;
  padding-bottom: 43px;
}

.container .menu-navbar ul li a:hover {
  color: #0082f9;
  border-bottom: 5px solid #0082f9;
}

.container .menu-navbar .search {
  display: flex;
}

.container .menu-navbar .search-bar {
  border: none;
  text-align: right;
  font-weight: 600;
  margin-right: 2px;
  color: darkgray;
  font-family: "FontAwesome", "Montserrat", sans-serif;
  font-size: 0.6rem;
}

.container .menu-navbar .search-bar::-moz-placeholder {
  color: darkgray;
}

.container .menu-navbar .search-bar:-ms-input-placeholder {
  color: darkgray;
}

.container .menu-navbar .search-bar::placeholder {
  color: darkgray;
}

.container .menu-navbar .search-bar:focus-visible {
  outline: none;
  border-bottom: 2px solid #047ff7;
}

.container .menu-navbar button {
  border: none;
  background-color: transparent;
}

.container .menu-navbar button i {
  color: darkgray;
}

.jumbotron {
  background-image: url("/images/jumbotron.jpg");
  height: 350px;
  background-size: cover;
  margin-top: 90px;
}

/* ****** MAIN ****** */

.container-comics {
  background-color: #1C1C1C;
  position: relative;
}

.container-comics .content-dc-comics {
  width: 70%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container-comics .content-dc-comics .comics-card {
  width: calc(16.6666666667% - 12.5px);
  cursor: pointer;
}

.container-comics .content-dc-comics .comics-card .img-box {
  width: 130px;
  height: 130px;
  overflow: hidden;
}

.container-comics .content-dc-comics .comics-card img {
  width: 100%;
}

.container-comics .content-dc-comics .comics-card p {
  color: #fff;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 10px 0;
}

.container-comics .label-series {
  background-color: #0082f9;
  padding: 8px 18px;
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  position: absolute;
  top: -15px;
  left: 205px;
  cursor: pointer;
}

.container-comics .container-btn {
  display: flex;
  justify-content: center;
}

.container-comics .container-btn button {
  color: #fff;
  font-weight: 600;
  background-color: #0082f9;
  border: none;
  padding: 10px 40px;
  margin: 20px 0;
  cursor: pointer;
}

.container-single-card {
  height: 100%;
  padding-bottom: 68.5px;
}

.line-card,
.detail-card {
  width: 70%;
  margin: 0 auto;
}

.detail-card {
  padding: 50px 0px;
}

.detail-card .title-comic {
  text-transform: uppercase;
}

.detail-card .status-general {
  display: flex;
  align-items: flex-end;
}

.detail-card .price-availability {
  display: flex;
  width: 50%;
  justify-content: space-between;
  background-color: #55BA59;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px 20px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  font-size: 1.1rem;
}

.detail-card .price-availability .price {
  color: #fff;
}

.detail-card .label-check {
  background-color: #55BA59;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

.detail-card .description {
  font-weight: 600;
  line-height: 25px;
  width: 72%;
  margin-top: 20px;
  color: rgb(110, 110, 110);
}

.card {
  position: absolute;
  width: 200px;
  top: 200px;
  z-index: 889;
  border: 1px solid #fff;
}

.bar-blue {
  background-color: #0082f9;
  height: 80px;
  position: relative;
}

/* ****** FOOTER ****** */

.top-footer {
  background-color: #0082f9;
  display: flex;
  justify-content: center;
}

.top-footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  width: 70%;
}

.top-footer ul li {
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.top-footer ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 8px;
}

.top-footer ul img {
  height: 35px;
}

.top-footer ul .icon-power {
  height: 25px;
}

.main-footer {
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.main-footer .link-list {
  background-image: url("/images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: 380px;
  background-position: right;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  color: #fff;
}

.main-footer .link-list h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.main-footer .link-list .link-image {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.main-footer .link-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

.main-footer .link-list ul li {
  line-height: 12px;
}

.main-footer .link-list ul a {
  color: lightgray;
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: 600;
}

.main-footer .link-list ul a:hover {
  color: #0082f9;
  text-decoration: underline;
}

.bottom-footer {
  background-color: #303030;
  display: flex;
  justify-content: center;
}

.bottom-footer .connect {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 20px 0px;
}

.bottom-footer .connect .btn {
  background-color: #303030;
  border: 2px solid #0082f9;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.6rem;
  padding: 8px 10px;
  cursor: pointer;
}

.bottom-footer .connect .icons {
  display: flex;
  align-items: center;
  padding: 5px;
}

.bottom-footer .connect .icons h3 {
  color: #0082f9;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-right: 8px;
}

.bottom-footer .connect .icons img {
  width: 25px;
  margin-left: 8px;
  cursor: pointer;
}

